<footer>
    <hr>
        <div class="row align-justify">
            <div class="column small-12 medium-2">
                <%= link_to '<img alt="Philips - Distributore ufficiale" src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/850abfbf907c9cd2226e42a2bf5b7852a9b05b30_distributore_ufficiale_philips.png">', '/' %></li>
            </div>
            <div class="column small-12 medium-8">
                <i>Meditron S.r.l via Ettore Guizzardi, 1 - 20136 Budrio (BO)</i> | P.IVA: 01847901202 <br>
                <i>AesseMedical S.r.l via Ettore Guizzardi, 1 - 20136 Budrio (BO)</i> | P.IVA: 01847901202 <br>
            </div>
            <div class="column medium-2">
                <a href="//www.iubenda.com/privacy-policy/7902785" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            </div>
        </div>
</footer>