---
title: Welcome to Middleman
---

<div class="row">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="/"><img src="http://meditronsrl.it/App_Images/Logo_1.png"></a></li>
            </ul>
        </div>
    </div>
</div>

<section class="title-container show-for-medium" style="background:  #0075ba; background-size: cover;">
    <div class="row clearfix">
        <div class="column">
            <img src="http://images.philips.com/is/image/PhilipsConsumer/HC860306-IMS-it_IT?wid=435&hei=245&$pnglarge$">
        </div>
        <div class="title column small-8">
            <h1 class="big">
                ECG PageWriter TC10
            </h1>
            <span class="medium">
                ciao
            </span>


        </div>
    </div>
</section>