---
title: >
        Elettrocardiografo Portatile Philips

description: >
        Scopri la Promozione 45% di Sconto sul ECG Portatile Philips: Veloce, Professionale e Facile da Usare. Richiedi Ora Maggiori informazioni!

testata:
    prima_riga: ECG Portatile Philips
    seconda_riga: >

            Facile, Veloce e Professionale<br>
            <span class="medium"><i>Modello PageWriter T10</i></span>

immagineTestata: https://prismic-io.s3.amazonaws.com/elettrocardiografi/84e542da33c2a7cf6e5fc0aaf28775c3d3c3bffb__cox8816.png

headCode: >

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->
---

<%= partial "partials/promo_section" %>

<%= partial "partials/rowCallToAction" %>

<hr>

<div class="row">
    <div class="small-12 columns">
        <h2><i class="fa fa-heartbeat" aria-hidden="true"></i> Facile da Usare</h2>
    </div>
</div>

<div class="row">
    <div class="small-12 columns callout">

        <div class="row small-up-1 medium-up-2">

            <div class="column">

                <h4>Display Touchscreen</h4>

                <ul class="subheader">
                    <li>
                        7 Pollici
                    </li>
                    <li>
                        Risoluzione schermo 800x480
                    </li>
                </ul>

            </div>
            <div class="column">

                <h4>Sequenza operativa guidata</h4>

                <p class="subheader">
                    Tramite l'ausilio di 3 semplici tasti premette a chiunque di effettuare correttamente un ECG
                </p>

            </div>

            <div class="column">

                <h4>Cavi lunghi</h4>

                <p class="subheader">
                    La lunghezza delle derivazioni permette una maggiore comodità d'utilizzo.
                </p>

            </div>

            <div class="column">

                <h4>Stampante Integrata</h4>

                <p class="subheader">
                    Stampante digitale ad alta risoluzione con carta termica: 110 mm
                </p>

            </div>
            <div class="column">

                <h4>Indicatori di Qualità immediati</h4>

                <ul class="subheader">
                    <li>
                        Avviso di derivazioni staccate
                    </li>
                    <li>
                        Quattro colori per indicare la qualità delle singole derivazioni
                    </li>
                    <li>
                        Software per rilevare le inversioni delle derivazioni
                    </li>
                    <li>
                        Visualizzazione continua della frequenza cardiaca
                    </li>
                    <li>
                        Anteprima di stampa a schermo intero delle forme d'onda ECG
                    </li>
                </ul>

            </div>

            <div class="column">

                <h4>Diagnosi in tempo reale</h4>

                <ul class="subheader">
                    <li>
                        Due referti ECG con mappe ST polari - Piani frontale e trasversale
                    </li>
                    <li>
                        Algoritmo basato su criteri <i>2009 AHA/ACCF/HRS, Parte VI: ischemia e infarto</i>
                    </li>
                    <li>
                        Criteri che suggeriscono uno dei quattro probabili punti di occlusione dell'arteria coronaria
                    </li>
                    <li>
                        Indicazione di 4 condizioni che richiedono assistenza clinica immediata
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>
<p></p>
<div class="row">

    <img src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/3003500ba9e1d97b1558b13a62e4f44b94dc45d8__cox8750.png">
</div>
<p></p>
<div class="row">
    <div class="small-12 columns">
        <h2><i class="fa fa-refresh" aria-hidden="true"></i> Integrabile con i tuoi sistemi informatici</h2>
    </div>
</div>

<div class="row">
    <div class="small-12 columns callout">

        <div class="row small-up-1 medium-up-2">

            <div class="column">

                <h4>Liste di lavoro</h4>

                <p class="subheader">
                    Download delle liste di lavoro e delle richieste da server in rete tramite <strong>standard: HL7 e DICOM</strong>
                </p>

            </div>
            <div class="column">

                <h4>ADT - Ammissione, Dismissione e Trasferimento</h4>

                <ul class="subheader">
                    <li>
                        Interrogazione e recupero dati anagrafici del paziente
                    </li>
                    <li>
                        Criteri di riceca immessi  manualmente o tramite scansione del codice a barre del paziente
                    </li>
                    <li>
                        Supporto dell'interfaccia HL7
                    </li>
                </ul>

            </div>

            <div class="column">

                <h4>Recupero Ultimo ECG</h4>

                <p class="subheader">
                    Recupero automatico dell'ECG precedente o dell'intera lista degli ECG disponibili per il paziente, se collegato a sistema Intellispace ECG
                </p>

            </div>

            <div class="column">

                <h4>Inserimento e gestione manuale dei dati</h4>

                <p class="subheader">
                    E' sempre possibile inserire liste di lavoro e anagrafiche manualmente sul dispositivo e recuperarne successivamente i dati
                </p>

            </div>

            <div class="column">

                <h4>Connettività</h4>

                <ul class="subheader">
                    <li>
                        Rete LAN wireless (802.22 a/b/g)
                    </li>
                    <li>
                        Memoria interna per contenere 200 ECG
                    </li>
                    <li>
                        Memoria esterna per contenere 200 ECG con dispositivo USB opzionale
                    </li>
                </ul>
            </div>

            <div class="column">

                <h4>Ingresso dati Automatico</h4>

                <ul class="subheader">
                    <li>
                        Lettore di codici a barre - Simboli dei codice a barre ID: Code 39
                    </li>
                    <li>
                        Lettore di codice a barre 2D: Codice QR
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<p></p>
<%= partial "partials/rowCallToAction" %>

<div class="row">
    <div class="small-12 columns">
        <h2><i class="fa fa-user-md" aria-hidden="true"></i> Professionale con tecnologie all'avanguardia</h2>
    </div>
</div>

<div class="row">
    <div class="small-12 columns callout">

        <div class="row small-up-1 medium-up-2">

            <div class="column">

                <h4>12 Derivazioni</h4>

                <p class="subheader">
                    Acquisizione sumultanea di 12 derivazioni
                </p>

            </div>
            <div class="column">

                <h4>Referti ECG tramite stampante integrata</h4>

                <p class="subheader">
                    Formati standard: 3 x 4, 3 x 4 3R, 3 x 4 1R, 3 X 4 IR più mappe ST, 6 x 2, formati Cabrera, più Pan 12 Cabrera
                </p>

            </div>

            <div class="column">

                <h4>Misurazioni Standard</h4>

                <p class="subheader">
                    Dieci misurazioni di intervalli, durata e assi.
                    <br>Metodo di correzione QT configurabile
                </p>

            </div>

            <div class="column">

                <h4>Tracciati del Ritmo</h4>

                <p class="subheader">
                    Fino a 6 derivazioni configurabili
                </p>

            </div>

            <div class="column">

                <h4>Riesame completo</h4>

                <p class="subheader">
                    Registrazione di 5 minuti di tutte le 12 derivazioni.
                    <br>Referto ECG completo riferito a 10 secondi di tracciato a scelta
                </p>

            </div>
            <div class="column">

                <h4>Marcatura degli eventi</h4>

                <p class="subheader">
                    Possibilità di contrassegnare 6 eventi indipendenti per l'analisi ed i riesami successivi.
                    <br>I marcatori di eventi vengono visualizzati sui referti ECG
                </p>

            </div>

            <div class="column">

                <h4>ECG Temporizzato</h4>

                <p class="subheader">
                    Supporto dei protocolli per lo stress farmacologico
                </p>

            </div>

            <div class="column">

                <h4>Massima Fedeltà di memorizzazione</h4>

                <p class="subheader">
                    Massima fedeltà di memorizzazione e trasferimento dei referti: 500 Hz per i tracciati di 10 secondi riferiti a tutte le 12 derivazioni
                </p>

            </div>
        </div>

    </div>
</div>
<p></p>
<div class="row">

    <img src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/7081ae3b88a236791a8c32589feb3507a86699f1__cox8816.png">
</div>

<p></p>


<div class="row">
    <div class="column small-12 medium-8">
        <div class="row">
            <div class="column small-12 callout">
                <h3>Esclusivo Algoritmo interpretativo PHILIPS DXL</h3>
                <p>
                    <img style="float: left;" src="https://images.philips.com/is/image/PhilipsConsumer/HCNOCTN68-IMS-en_US?wid=150&$pnglarge$"> L'algoritmo Philips DXL per ECG a 12 derivazioni offre <strong>funzioni di interpretazione dell'ECG all'avanguardia</strong> e una gamma di strumenti di <strong>supporto decisionale STEMI</strong> per l'analisi del ritmo e della morfologia di varie popolazioni di pazienti.
                </p>

                <p>Le caratteristiche dell'algoritmo:</p>

                <ul>

                    <li>
                        Più di 600 Dichiarazioni interpretative
                    </li>
                    <li>
                        Analisi pediatrica integrata
                    </li>
                    <li>
                        Soppressione delle dichiarazioni al limite di norma attraverso 3 impostazioni configurabili
                    </li>
                    <li>
                        46 Misurazioni di analisi morfologiche in ciascuna delle 12 derivazioni
                    </li>
                    <li>
                        21 parametri di analisi del ritmo
                    </li>
                    <li>
                        Possibilità di selesionare le spiegazioni di tutte le dichiarazioni interpretative
                    </li>
                </ul>

            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="column small-12 callout">
                <h3>Portatile e sempre pronto all'uso</h3>
                <ul>
                    <li>
                        Batteria ricaricabile
                    </li>
                    <li>
                        Fino a 300 referti con una ricarica
                    </li>
                    <li>
                        Ricarica completa in 4 ore
                    </li>
                    <li>
                        Alimentazione 100-240 VCA - Potenza assorbita Max 60W
                    </li>
                    <li>
                        Dimensioni: <i>65 x 338 x 240 mm</i>
                    </li>
                    <li>
                        Peso: <i>2,5 kg</i> (batteria inclusa)
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <div class="column">
        <img src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/24d5cd0faf905936934a5b486b6fb114867183c4__cox8684.png">
    </div>




</div>


<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<hr>

<div class="row">
    <div class="small-12 columns ">
        <h2>Chi siamo</h2>
    </div>
</div>
<p></p>
<div class="row small-up-1 medium-up-2">
    <div class="column">
        <div class="row small-up-1 medium-up-2">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/a957b4b6de10e4a0fb87b49f16d2b974559b8cbc_logo-meditron-1.jpg">
            </div>
            <div class="column">
                <h4>Meditron S.r.l.</h4>
                <p>
                    Nel 1997 un gruppo di professionisti del settore costituisce a Bologna la Meditron S.r.l. con lo scopo di fornire un qualificato servizio nella vendita di apparecchiature elettromedicali nel mercato della sanità pubblica e privata delle regioni Emilia Romagna e Marche.
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row small-up-1 medium-up-2">
            <div class="column">
                <img src="https://prismic-io.s3.amazonaws.com/elettrocardiografi/f277a299a4bf61402e25dcf7483a89cfa6007b43_logo-aesse-medical.png">
            </div>
            <div class="column">
                <h4>Aesse Medical S.p.A.</h4>
                <p>
                    Aesse Medical S.p.A. nasce nel febbraio del 2004 e sin dall’inizio si è specializzata nella commercializzazione, installazione e manutenzione di attrezzature medicali e complementi per Sala Operatoria, Terapia Intensiva, Pronto Soccorso
                </p>
            </div>
        </div>
    </div>
</div>

